@charset "UTF-8";

@font-face {
  font-family: "justice";
  src:url("justice-assets?path=fonts/facilitador.eot");
  src:url("justice-assets?path=fonts/facilitador.eot?#iefix") format("embedded-opentype"),
    url("justice-assets?path=fonts/facilitador.woff") format("woff"),
    url("justice-assets?path=fonts/facilitador.ttf") format("truetype"),
    url("justice-assets?path=fonts/facilitador.svg#facilitador") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "justice" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="justice-"]:before,
[class*=" justice-"]:before {
  font-family: "justice" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.justice-bread:before {
  content: "\61";
}
.justice-helm:before {
  content: "\62";
}
.justice-play:before {
  content: "\63";
}
.justice-activity:before {
  content: "\64";
}
.justice-company:before {
  content: "\65";
}
.justice-file-text:before {
  content: "\66";
}
.justice-folder:before {
  content: "\67";
}
.justice-paw:before {
  content: "\68";
}
.justice-sort:before {
  content: "\6f";
}
.justice-sort-asc:before {
  content: "\70";
}
.justice-sort-desc:before {
  content: "\71";
}
.justice-handle:before {
  content: "\6d";
}
.justice-hammer:before {
  content: "\6e";
}
.justice-images:before {
  content: "\69";
}
.justice-categories:before {
  content: "\6a";
}
.justice-group:before {
  content: "\6b";
}
.justice-person:before {
  content: "\73";
}
.justice-people:before {
  content: "\74";
}
.justice-power:before {
  content: "\75";
}
.justice-tools:before {
  content: "\76";
}
.justice-anchor:before {
  content: "\77";
}
.justice-double-down:before {
  content: "\78";
}
.justice-double-up:before {
  content: "\79";
}
.justice-double-left:before {
  content: "\7a";
}
.justice-double-right:before {
  content: "\41";
}
.justice-window-list:before {
  content: "\42";
}
.justice-x:before {
  content: "\43";
}
.justice-dot:before {
  content: "\44";
}
.justice-dot-2:before {
  content: "\45";
}
.justice-dot-3:before {
  content: "\46";
}
.justice-list:before {
  content: "\47";
}
.justice-list-add:before {
  content: "\48";
}
.justice-pie-chart:before {
  content: "\49";
}
.justice-watch:before {
  content: "\4a";
}
.justice-data:before {
  content: "\4b";
}
.justice-music:before {
  content: "\4c";
}
.justice-settings:before {
  content: "\4e";
}
.justice-video:before {
  content: "\4f";
}
.justice-trash:before {
  content: "\50";
}
.justice-tv:before {
  content: "\51";
}
.justice-lock:before {
  content: "\52";
}
.justice-news:before {
  content: "\4d";
}
.justice-bag:before {
  content: "\53";
}
.justice-upload:before {
  content: "\54";
}
.justice-refresh:before {
  content: "\55";
}
.justice-character:before {
  content: "\57";
}
.justice-move:before {
  content: "\58";
}
.justice-paypal:before {
  content: "\56";
}
.justice-paper-plane:before {
  content: "\59";
}
.justice-ticket:before {
  content: "\5a";
}
.justice-youtube-play:before {
  content: "\30";
}
.justice-boat:before {
  content: "\31";
}
.justice-check:before {
  content: "\6c";
}
.justice-alarm-clock:before {
  content: "\32";
}
.justice-controller:before {
  content: "\34";
}
.justice-pizza:before {
  content: "\35";
}
.justice-backpack:before {
  content: "\36";
}
.justice-barbeque:before {
  content: "\37";
}
.justice-bomb:before {
  content: "\38";
}
.justice-book-download:before {
  content: "\39";
}
.justice-browser:before {
  content: "\21";
}
.justice-brush:before {
  content: "\22";
}
.justice-bubble-hear:before {
  content: "\23";
}
.justice-polaroid:before {
  content: "\24";
}
.justice-crop:before {
  content: "\26";
}
.justice-dashboard:before {
  content: "\27";
}
.justice-hotdog:before {
  content: "\28";
}
.justice-laptop:before {
  content: "\29";
}
.justice-paint-bucket:before {
  content: "\2c";
}
.justice-photo:before {
  content: "\2d";
}
.justice-photos:before {
  content: "\2e";
}
.justice-receipt:before {
  content: "\2f";
}
.justice-buy:before {
  content: "\3a";
}
.justice-lightbulb:before {
  content: "\3b";
}
.justice-archive:before {
  content: "\3f";
}
.justice-paperclip:before {
  content: "\40";
}
.justice-warning:before {
  content: "\5b";
}
.justice-basket:before {
  content: "\5d";
}
.justice-bell:before {
  content: "\5e";
}
.justice-book:before {
  content: "\5f";
}
.justice-chat:before {
  content: "\60";
}
.justice-down-circled:before {
  content: "\7b";
}
.justice-location:before {
  content: "\7d";
}
.justice-forward:before {
  content: "\7e";
}
.justice-flashlight:before {
  content: "\5c";
}
.justice-trophy:before {
  content: "\e001";
}
.justice-diamond:before {
  content: "\e002";
}
.justice-credit-cards:before {
  content: "\e003";
}
.justice-shop:before {
  content: "\e004";
}
.justice-sound:before {
  content: "\e005";
}
.justice-study:before {
  content: "\e006";
}
.justice-pen:before {
  content: "\e007";
}
.justice-params:before {
  content: "\e008";
}
.justice-fire:before {
  content: "\e009";
}
.justice-dollar:before {
  content: "\e00a";
}
.justice-bulb:before {
  content: "\e00b";
}
.justice-lab:before {
  content: "\e00c";
}
.justice-cup:before {
  content: "\e00d";
}
.justice-megaphone:before {
  content: "\e00e";
}
.justice-heart:before {
  content: "\e00f";
}
.justice-bubble:before {
  content: "\e011";
}
.justice-search:before {
  content: "\e012";
}
.justice-tag:before {
  content: "\e013";
}
.justice-world:before {
  content: "\25";
}
.justice-camera:before {
  content: "\2a";
}
.justice-calendar:before {
  content: "\7c";
}
.justice-mail:before {
  content: "\e014";
}
.justice-phone:before {
  content: "\e015";
}
.justice-star:before {
  content: "\e016";
}
.justice-star-half:before {
  content: "\e017";
}
.justice-star-half-1:before {
  content: "\e018";
}
.justice-star-two:before {
  content: "\e019";
}
.justice-medal-rank-star:before {
  content: "\e01a";
}
.justice-facebook:before {
  content: "\e01b";
}
.justice-google-plus:before {
  content: "\e01c";
}
.justice-twitter:before {
  content: "\e01d";
}
.justice-github:before {
  content: "\e01e";
}
.justice-code:before {
  content: "\e01f";
}
.justice-pie-graph:before {
  content: "\e020";
}
.justice-javascript:before {
  content: "\e021";
}
.justice-wand:before {
  content: "\e022";
}
.justice-wineglass:before {
  content: "\e023";
}
.justice-milestone:before {
  content: "\e024";
}
.justice-terminal:before {
  content: "\e025";
}
.justice-plug:before {
  content: "\e026";
}
.justice-gift:before {
  content: "\e027";
}
.justice-markdown:before {
  content: "\e028";
}
.justice-beer:before {
  content: "\e029";
}
.justice-credit-card:before {
  content: "\e02a";
}
.justice-bolt:before {
  content: "\e02b";
}
.justice-external:before {
  content: "\e02c";
}
.justice-magnet:before {
  content: "\e02d";
}
.justice-certificate:before {
  content: "\e02e";
}
.justice-cloud-download:before {
  content: "\e02f";
}
.justice-campfire:before {
  content: "\e030";
}
.justice-new:before {
  content: "\e031";
}
.justice-skull:before {
  content: "\e032";
}
.justice-telephone:before {
  content: "\e033";
}
.justice-trees:before {
  content: "\e034";
}
.justice-bar-chart:before {
  content: "\e035";
}
.justice-check-circle:before {
  content: "\e036";
}
.justice-exclamation:before {
  content: "\e037";
}
.justice-font:before {
  content: "\e03a";
}
.justice-puzzle:before {
  content: "\e03b";
}
.justice-smile:before {
  content: "\e03c";
}
.justice-frown:before {
  content: "\e03d";
}
.justice-meh:before {
  content: "\e03e";
}
.justice-leaf:before {
  content: "\e03f";
}
.justice-info-circled:before {
  content: "\e040";
}
.justice-underline:before {
  content: "\e041";
}
.justice-wallet:before {
  content: "\e042";
}
.justice-truck:before {
  content: "\e043";
}
.justice-eye:before {
  content: "\e044";
}
.justice-sun:before {
  content: "\e045";
}
.justice-barbell:before {
  content: "\e04a";
}
.justice-bookmark:before {
  content: "\e04c";
}
.justice-volume-up:before {
  content: "\e04d";
}
.justice-volume-down:before {
  content: "\e04e";
}
.justice-wifi:before {
  content: "\e04f";
}
.justice-pause:before {
  content: "\e053";
}
.justice-resize-full:before {
  content: "\e054";
}
.justice-resize-small:before {
  content: "\e055";
}
.justice-download:before {
  content: "\e056";
}
.justice-droplet:before {
  content: "\e057";
}
.justice-umbrella:before {
  content: "\e058";
}
.justice-harddrive:before {
  content: "\e059";
}
.justice-css3:before {
  content: "\e05a";
}
.justice-html5:before {
  content: "\e05b";
}
.justice-tree:before {
  content: "\e05e";
}
.justice-file-code:before {
  content: "\e061";
}
.justice-bug:before {
  content: "\e062";
}
.justice-rocket:before {
  content: "\e063";
}
.justice-key:before {
  content: "\33";
}
.justice-question:before {
  content: "\2b";
}
.justice-cursor:before {
  content: "\3c";
}
.justice-lifebuoy:before {
  content: "\3d";
}
.justice-thumbs-up:before {
  content: "\3e";
}
.justice-thumb-tack:before {
  content: "\e000";
}
.justice-edit:before {
  content: "\e010";
}
.justice-angle-down:before {
  content: "\e038";
}
.justice-angle-left:before {
  content: "\e039";
}
.justice-angle-right:before {
  content: "\e046";
}
.justice-angle-up:before {
  content: "\e047";
}
.justice-home:before {
  content: "\e048";
}
.justice-pirate-swords:before {
  content: "\e04b";
}
.justice-pirate:before {
  content: "\e050";
}
.justice-rum:before {
  content: "\e051";
}
.justice-cannon:before {
  content: "\e049";
}
.justice-hook:before {
  content: "\e052";
}
.justice-kraken:before {
  content: "\e05c";
}
.justice-lighthouse:before {
  content: "\e05d";
}
.justice-pirate-hat:before {
  content: "\e05f";
}
.justice-rum-1:before {
  content: "\e060";
}
.justice-ship:before {
  content: "\e064";
}
.justice-treasure:before {
  content: "\e065";
}
.justice-treasure-open:before {
  content: "\e066";
}
.justice-whale:before {
  content: "\e067";
}
.justice-compass:before {
  content: "\e068";
}
.justice-logbook:before {
  content: "\e069";
}
.justice-plus:before {
  content: "\e06a";
}
.justice-documentation:before {
  content: "\72";
}
.justice-belt:before {
  content: "\e06b";
}
.justice-zoom-in:before {
  content: "\e06c";
}
.justice-zoom-out:before {
  content: "\e06d";
}
.justice-scissors:before {
  content: "\e06e";
}
.justice-github-icon:before {
  content: "\e06f";
}
